
h1{

    color: rgb(219, 6, 6);
    font-size: 5rem;
    }
h2{
    color:rgb(5, 72, 148);
    font-size:3rem;
}
   div{ 
       text-align: center;
       margin-top: 10rem;
      }
h3{
    color:darkslategrey;
    font-size: 5rem;
}
