<app-nav-bar></app-nav-bar>

<body class="bg-light container">
    <h1 class="register-title">Metodo de pago</h1>
    <hr />


    <div class="card">
        <div id="contenedor">
            <header>
                <h1 class="text-center">Rente un vehículo</h1>
            </header>
            <section class="row mt-4">
                <div class="col">
                    <div class="card">
                        <form class="row">
                            <table>
                            <div class="form-group col-md-6">
                                <img src="https://cdn.auto.it/images/2020/05/07/113955605-2ecd0d99-3346-4199-921b-1bee8efd2462.jpg" alt="" width="450" height="350">
                            </div>
                            <div class="form-group col-md-4">
                                <div class="card">
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="">Nombre completo</label>
                                                <br>
                                                <label for="">Cédula</label>
                                            </td>
                                            <td>
                                                <label for="">Direccion</label>
                                                <br>
                                                <label for="">telefono</label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for=""></label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="">Medio de pago</label>
                            </div>
                            <div class="form-group col-md-3">
                                <select id="selectmediodepago" class="form-control">
                                    <option value="0">--Seleccione--</option>
                                    <option value="1">Efectivo 1</option>
                                    <option value="2">Tarjeta Crédito 2</option>
                                    <option value="3">Tarjeta Debito 3</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="">Numero tarjeta</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" placeholder="Ejem: 800234534" id="inputnumerotarjeta" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="">Nombre titular</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control" placeholder="Ejem: Alexander López" id="inputnombretitular" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="">fecha vencimiento</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="date" class="form-control" id="inputfechavencimiento" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""></label>
                            </div>
                            <div class="form-group col-md-1">
                                <label for="">cvc</label>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="number" class="form-control" id="inputcvc" />
                            </div>
                        </table>
                        </form>
                    </div>
                </div>
            </section>
            <section>
                <article>
                    <h2>Caracteristicas</h2>
                </article>
            </section>
            <section class="row mt-4">
                <div class="col">
                    <div class="card">
                        <form class="row">
                            <table>
                                <div class="form-group col-md-6">
                                    <p>Cinturones de seguridad = 4&nbsp;&nbsp;&nbsp;Kilometros recorridos = 100 Km <br>
                                    Equipaje = 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transmisión = Automática<br>
                                    Puertas = 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Disponibl e= si <br>
                                    Aire acondicionado = si&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Color = Azul <br>
                                    Tecnomecanica = si </p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for=""></label>
                                </div> 
                                <div class="col md-4">
                                    <button class="btn btn-dark">Consultar factura</button>
                                </div> 
                            </table>
                            <div class="col md-2">
                                <label for=""></label> 
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>